.content {
    background: #FFF;
    display: flex;
    align-items: stretch;
}

.content > .place-value {
    width: 13em;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.place-value > .cube {
    display: inline;
}