aside {
    width: 20%;
    background: #272D40;
    padding-top: 1%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

aside > div {
    color: #FFF;
    font-size: x-large;
    padding: 5% 0 5% 10%;
    text-align: initial;
}

aside > div:hover {
    background-color: #6696C6;
    cursor: pointer;
}